<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
    <br/>
  <ion-item lines="none">
    <img src="../../assets/icon/hide.png" class="img" />
  </ion-item>
  <br />
  <br />
  <ion-toolbar>
    <ion-item-divider>
      <ion-title>
        Voice Settings:
      </ion-title>
    </ion-item-divider>
  </ion-toolbar>
  <ion-item-divider>Select all that apply</ion-item-divider>
  <ion-item>
    Stairs
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    People
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    Potholes
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    Railing
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-item-divider>
        <ion-title>
            Motor Settings:
          </ion-title>
    </ion-item-divider>
  </ion-item>
  <ion-item lines="none">
    <ion-text>Base vibration Intensity</ion-text>
  </ion-item>
  <ion-item>
    <ion-range min="{-200}" max="{200}" color="secondary">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>
</ion-content>
