<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br/>
    <br/>
  <ion-item lines="none">
    <img src="../../assets/icon/hide.png" class="img" />
  </ion-item>
  <br />
  <br />
  <ion-toolbar>
    <ion-item-divider>
      <ion-title>
        Voice Settings:
      </ion-title>
    </ion-item-divider>
  </ion-toolbar>
  <ion-item-divider>Select all that apply</ion-item-divider>
  <ion-item>
    Basic Range Detection
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    Stairs Up
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    Stairs Down
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
  <ion-item>
    Potholes
    <ion-checkbox slot="end"></ion-checkbox>
  </ion-item>
</ion-content>
