
.battery{
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: relative;
}

.img{
    height: auto;
    width: 15vh;
    margin-left: auto;
    margin-right: auto;
}