<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <img src="../../assets/icon/hide.png" class="img" height="60" width="60" />
  </ion-item>
    <br />
    <br />
    <ion-button center>
      Battery Status
    </ion-button>
  <br />
  <br />
  <ion-label>
    Glasses
  </ion-label>
  <ion-progress-bar value="0.5"></ion-progress-bar>
  <br />
  <br />
  <ion-label>
    Belt
  </ion-label>
  <ion-progress-bar value="0.7"></ion-progress-bar>

  <br />
  <br />

  <ion-button expand="block" href="/personal-info ">
    Personal Information</ion-button
  >
  
  <ion-button expand="block" href="/emergency-info ">
    Emergency Information</ion-button
  >
  <ion-button expand="block" href="/waist-calculation ">
    Waist Calculation
  </ion-button>
  <ion-button expand="block" href="/voice-settings ">
    Voice Settings</ion-button
  >
</ion-content>
